[submodule "modules/hbm"]
	path = modules/hbm
	url = git@github.com:hbmorrison/qmk_modules.git
	branch = develop
[submodule "keyboards/zilpzalp"]
	path = keyboards/zilpzalp
	url = git@github.com:hbmorrison/qmk_userspace_zilpzalp.git
	branch = develop
[submodule "keyboards/ferris"]
	path = keyboards/ferris
	url = git@github.com:hbmorrison/qmk_userspace_ferris.git
	branch = develop
